html, body {
  font-family: 'GothamPro', sans-serif;
}

.text-subtitle1-bold {
  font-size: 22px;
  font-weight: 700;
}
.text-body-14 {
  font-size: 14px;
}
.bg-primary-1 {
  background-color: #EB691F !important;
}
.description-text-8 {
  font-size: 8px;
  color: #999;
}
.description-text-13 {
  font-size: 13px;
}
.text-primary-1 {
  color: #EB691F !important;
}
.text-12 {
  font-size: 12px;
}
.text-13 {
  font-size: 13px;
}
.text-16 {
  font-size: 16px;
}
.text-18 {
  font-size: 18px;
}
.text-22 {
  font-size: 22px;
}
.text-26 {
  font-size: 26px;
}
.text-28 {
  font-size: 28px;
}
.text-body-29 {
  font-size: 29px;
}
.text-41 {
  font-size: 41px;
}


