.text-subtitle1-bold {
  font-size: 22px;
  font-weight: 700;
}
.text-body-14 {
  font-size: 14px;
}
.description-text-8 {
  font-size: 8px;
  color: #999;
}
.description-text-13 {
  font-size: 13px;
}
.text-primary-1 {
  color: var(--unnamed, #EB691F) !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.text-41 {
  font-size: 41px;
}
.text-body-29 {
  font-size: 29px;
}
$primary: rgba(235, 105, 31, 1);
$black: #262626;
$light-gray: #ECECEC;
$gray: #999;
$green: #85BB65;
$blue: #40B3FF;
$white: #fff;
$bg-primary: rgba(235, 105, 31, 1) !important;
