$primary: rgba(235, 105, 31, 1);
$black: #262626;
$light-gray: #ECECEC;
$gray: #999;
$green: #85BB65;
$blue: #40B3FF;
$white: #fff;
$bg-primary: rgba(235, 105, 31, 1);

//
//:root {
//	--font-main: 'Roboto', sans-serif;
//	// --font-accent: 'Playfair Display', serif;
//
//	--page-bg: #fff;
//	--text-color: #262626;
//
//}
