.header {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 30px 34px;

  .search-icon {
    border-radius: 6px;
    margin-left: -30px;
    padding: 9px 15px;
  }
  input {
    border-radius: 6px 0 0 6px;
    padding: 9px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }
}
.modal-body {
  padding: 50px 70px 70px 70px !important;
  input[type=text] {
    border-radius: 6px;
    border: 1px solid #CCC;
  }
  label {
    color: #CCCCCC;
  }
}
.modal-header {
  border-bottom: none !important;
}
