.header {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 30px 34px;

  //.row {
  //	display: flex;
  //	justify-content: space-between;
  //	align-items: center;
  //}
  input {
    border-radius: 6px 0 0 6px;
    padding: 0 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    width: rem(536);
  }
}
