.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  color: white;
  text-align: start;
  .container {
    margin-top: rem(60);
  }
  h1 {
    margin-bottom: rem(81);
  }
  .card {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  button {
    padding: rem(9) rem(40);
  }
}
.banner1 {
  background-image: url(../../img/bg/banner1.png);
}
.banner2 {
  background-image: url(../../img/bg/banner2.svg);
  .bg-container {
    position: absolute;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.84), rgba(255, 255, 255, 0));
  }
}
.banner6 {
  background-image: url(../../img/bg/banner6.svg);
  .bg-container {
    position: absolute;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255 255 255 / 97%), rgba(255, 255, 255, 0));
  }
  li {
    color: rgba(235, 105, 31, 1);
  }
  li span {
    color: #000
  }
  .main-text {
    margin-bottom: rem(171);
  }
}
.banner9 {
  background-image: url(../../img/bg/banner9.svg);
  li {
    color: rgba(235, 105, 31, 1);
  }
  li .text-body-14 {
    color: #FFF
  }
  margin-bottom: 100px;
}
.banner10 {
  margin-bottom: 100px;
  background-image: url(../../img/bg/banner10.svg);
}

.background-block {
  background-size: 100% auto;
  background-image: url('../../img/bg/house.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 495px;
}
