.categories {
  .primary-card {
    background-color: #EB691F;
    color: #FFF;
  }
  .card {
    height: 335px;
    border-radius: 0;
    padding: 45px 20px 29px 20px;
  }
  ul {
    padding-left: 20px;
  }
}

