.comparisons-block {
  .bg-primary {
    background-color: rgba(235, 105, 31, 1) !important;
    margin-left: -70px;
    padding-left: 50px;
    .text-body-14 {
      color: #FFF;
    }
  }
  .text-body-14 {
    color: #999999;
  }
}