.card {
  position: relative;
  display: inline-block;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #EB691F 36.62%, rgba(235, 105, 31, 0.00) 107.89%);
  color: white;
  padding: 20px;
}
.card-img-overlay-white {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  padding: 20px;
  background: linear-gradient(0deg, #B3B3B3 36.62%, rgba(179, 179, 179, 0.00) 107.89%);
}
